@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: rgb(53, 116, 241);
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: rgb(53, 116, 241);
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}
/* blog previews / list */
.pokemon-list{
  display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.pokemon-preview{
  padding: 10px 16px;
  margin: 20px;
  border-bottom: 1px solid #fafafa;
  width: 100px;
  height: 100px;
  border: 1px solid lightgrey;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}
.pokemon-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.pokemon-preview a{
  text-decoration: unset;
}
.pokemon-preview h2 {
  font-size: 20px;
  color: rgb(53, 116, 241);
  
}
.pagination-btns{
  display: flex;
  align-items: center;
  justify-content: space-between;
}